/* home.css */
.home-container {
    display: flex;
  }
  
  .main-content {
    flex: 3; /* Main content takes up 2/3 of the space */
  }
  
  .side-content {
    flex: 1; /* Side content takes up 1/3 of the space */
  }
  
  .container{
    padding-top: 15px;
    padding-left: 15px;
  }

  .buttons-container {
    margin-right: 10px; /* Adjust as needed */
  }
  
  .buttons-container button {
    margin-right: 10px; /* Adjust as needed */
  }
  
  .main-content{
    margin: 20px;
  }

  .vstack .bg-light.border button {
    display: block; /* Change display to block to take full width */
    width: 100%; /* Set width to 100% */
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0; /* Adjust margin for spacing between buttons */
    background-color: #f0f0f0;
    border: 1px  #ccc;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in the width */
  }

  .bg-light.border button:hover {
    background-color: #e0e0e0;


  }

  .btnnew{
    background-color: #f0f0f0;
    color: black;
  }
  .todo-list{
    padding-left: 20px;
  }
  .todo-list li {
    margin-bottom: 20px; /* Add some bottom margin between each item */
  }

  .todo-list a {
    text-decoration: none;
    color: inherit;
  }

  .todo-list a .bold-red {
    font-weight: bold;
    color: red;
  }

  .todo-list a .light-gray {
    font-size: smaller;
    color: grey;
  }